/* SIDENAV from https://www.codeur.com/tuto/css/menu-burger-html-css/#:~:text=Cr%C3%A9er%20un%20burger%20menu%20en,page%2C%20de%20haut%20en%20bas.*/
/* Sidenav menu */

#openBtn {
  position: absolute;
  top: 10px;
  right: 10px;
}

#openBtnInfo {
  position: absolute;
  top: 10px;
  left: 10px;
}

.btnInfo {
  width: 40px;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -250px;
  background-color: white;
  padding-top: 60px;
  transition: right 0.5s ease;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 1px 10px 1px;
}

/* Sidenav menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  background: linear-gradient(to right bottom, #ff7949, #ff465e, #fe0083, #dc00b1, #8e19e1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sidenav p {
  display: block;
  position: absolute;
  color: black;
  font-size: 20px;
  padding: 8px 8px 8px 32px;
  bottom: 10px;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Active class */
.sidenav.active {
  right: 0;
}

/* Close btn */
.sidenav .close {
  position: absolute;
  top: 0;
  font-size: 36px;
}

/* Icône burger */
.burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  border-radius: 5px;
}

.logo-apside {
  background: linear-gradient(to right bottom, #ff7949, #ff465e, #fe0083, #dc00b1, #8e19e1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
