@import "~bootstrap/scss/bootstrap";


*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(to right bottom, #ff7949, #ff465e, #fe0083, #dc00b1, #8e19e1);
  min-height: 100vh;
}

.main-title {
  font-size: 38pt;
}

.card-like {
  text-decoration: none;
  color: black;
}

.card-like:hover {
  color: black;
}

.card-like-pic {
  min-height: 100%;
  object-fit: cover;
}
