$primary: #8e19e1;
$secondary: #ff7949;
$danger: #ff7949;
$box-shadow: 0 .5rem 1rem rgba(black, .30);

@import "~bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format('truetype'),
  url("../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: Montserrat-extrabold;
  src: url("../fonts/Montserrat/static/Montserrat-ExtraBold.ttf") format('truetype'),
  url("../fonts/Montserrat/static/Montserrat-ExtraBoldItalic.ttf");
}

*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(to right bottom, #ff7949, #ff465e, #fe0083, #dc00b1, #8e19e1);
  min-height: 100vh;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

.main-title {
  font-size: 25pt;
  font-weight: bold;
}

.main-title-subtitle {
  font-size: 50pt;
}

.card-like {
  text-decoration: none;
  color: black;
}

.card-like:hover {
  color: black;
}

.card-like-pic {
  min-height: 100%;
  object-fit: cover;
}

// SHOW
.show-card-container {
  display: flex;
}

.show-card-contained {
  justify-content: center;
  min-width: 50%;
}

h5 {
  color: #8e19e1;
  font-weight: 900;
}

.addProject {
  color: white;
  background-color: linear-gradient(to right bottom, #ff7949, #ff465e, #fe0083, #dc00b1, #8e19e1);
  border: solid 5px;
  border-radius: 100px 100px / 100px;
}

.planMeeting {
  font-style: italic;
}

.bold {
  font-weight: bolder;
}

// SWIPE BIDULE
.tinder {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.loaded.tinder {
  opacity: 1;
}

.tinder--status {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 2;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.tinder--status i {
  font-size: 100px;
  opacity: 0;
  transform: scale(0.3);
  transition: all 0.2s ease-in-out;
  position: absolute;
  width: 100px;
  margin-left: -50px;
}

.tinder_love .fa-heart {
  opacity: 0.7;
  transform: scale(1);
}

.tinder_nope .fa-remove {
  opacity: 0.7;
  transform: scale(1);
}

.tinder--cards {
  flex-grow: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
  max-height: 700px;
}

.tinder--card {
  display: inline-block;
  width: 90vw;
  max-width: 400px;
  height: 70vh;
  background: #FFFFFF;
  padding-bottom: 40px;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.moving.tinder--card {
  transition: none;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.tinder--card img {
  max-width: 100%;
  pointer-events: none;
}

.tinder--card h3 {
  margin-top: 32px;
  font-size: 32px;
  padding: 0 16px;
  pointer-events: none;
}

.tinder--card p {
  margin-top: 24px;
  font-size: 20px;
  padding: 0 16px;
  pointer-events: none;
}

.tinder--buttons {
  flex: 0 0 100px;
  text-align: center;
  padding-top: 20px;
}

.tinder--buttons button {
  border-radius: 50%;
  line-height: 60px;
  width: 60px;
  border: 0;
  background: #FFFFFF;
  display: inline-block;
  margin: 0 8px;
}

.tinder--buttons button:focus {
  outline: 0;
}

.tinder--buttons i {
  font-size: 32px;
  vertical-align: middle;
}

.fa-heart {
  color: #FFACE4;
}

.fa-remove {
  color: #CDD6DD;
}
