<div id="mySidenav" class="sidenav">
    <a id="closeBtn" href="#" class="close">×</a>
    <ul>
        <li>
            <a href="#">Accueil</a>
        </li>
        <li>
            <a href="#">Mes likes</a>
        </li>
        <li>
            <a href="#">Connexion</a>
        </li>
        <li>
            <a href="#">Gérer</a>
        </li>
    </ul>
</div>

<a href="#" id="openBtn">
	<span class="burger-icon">
		<span></span>
		<span></span>
		<span></span>
	</span>
</a>
